@import "./mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  border: 0 solid transparent;
}
*:focus,
*:active {
  border: 0 solid transparent;
  outline: 0px;
}
ul {
  list-style: none !important;
}
